@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  width: 100vw; 
}

.container { 
  max-width: 100%;
  overflow-x: hidden;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  padding: 10px;
  gap: 10px;
  color: #000;
  background-color: #000;
  background: #000;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 50%;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.left-arrow:hover,
.right-arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

.movie-card-container {
  display: inline-block;
  margin: 10px;
  perspective: 1000px;
}

.movie-card {
  max-width: 100%;
  position: relative;
  width: 220px;
  height: 130px;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.1);
  z-index: 2;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.movie-card:hover img {
  transform: scale(1.1);
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 0.3s ease;
  transform: translateY(20px);
  top: 0;
  padding: 20px;
}

.movie-info {
  font-size: 12px; 
  line-height: 1.4;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal; 
} 

.movie-info h3 {
  font-size: 16px; 
}

.movie-info p {
  font-size: 12px; 
  line-height: 1.4;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

.movie-card:hover .movie-info {
  opacity: 1;
  transform: translateY(0);
}

.movie-info h3 {
  font-size: 18px;
}

.movie-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.movie-actions button {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.movie-actions button:hover {
  background: rgba(255, 255, 255, 0.5);
}

.navbar {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  color: rgb(0, 0, 0);
}

.navbar-logo {
  height: 32px;
  margin-right: 20px;
}

.navbar-icons img {
  width: 75px;
  height: 40px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.navbar-icons img:hover {
  opacity: 0.8;
}

.navbar-buttons {
  display: flex;
  gap: 15px;
}

.navbar-button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
}

.navbar-button:hover {
  color: #b3b3b3;
}

.banner {
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: white;
  object-fit: contain;
  height: 700px;
  background-image: url("/Images/BannerNetflix.jpg");
  background-size: cover;
  background-position: center center;
}

.banner-content {
  position: absolute;
  top: 140px;
  left: 30px;
  z-index: 1;
}

.banner-title {
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #F5F5F5;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.75);
  font-family: 'Arial Black', sans-serif;
  margin-bottom: 0.3rem;
}

.banner-description {
  width: 100rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1.2rem;
  max-width: 360px;
  height: 80px;
}

.banner-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 20px;
}

.banner-button-play {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: white;
  color: #000
}

.banner-button-info {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.3);
}

.button-icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.banner-button:hover {
  color: black;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner-extra {
  position: absolute;
  bottom: 20px; 
  left: 550px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  top: 500px;
}


.sound-button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-size: 2rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.sound-button:hover {
  color: black;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.text-label {
  width: 100px;
  height: 50px;
}

.footer {
  max-width: 100%;
  overflow: hidden;
  background-color: #141414;
  color: #757575;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.icon {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.footer-links {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(8, auto);
  gap: 15px;
  justify-items: center;
  text-align: left;
  margin: 20px 0;
}

.link {
  color: #757575;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  text-align: left;
}

.link:hover {
  text-decoration: underline;
}

.footer-button:hover {
  border-color: #fff;
  color: #fff;
}

.footer-button:focus {
  outline: none;
}

.footer-button:active {
  border-color: #fff;
  color: #fff;
}

.footer-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.footer-button {    
  padding: 10px 20px;
  border: 1px solid #757575;
  background-color: transparent;
  color: #757575;
  cursor: pointer;  
}

.footer-button:hover {
  border-color: #fff;
  color: #fff;
}

.footer-copyright {  
  font-size: 12px;
  color: #757575;
  margin-top: 20px;
  margin-right: 400px;
  margin-right: auto; 
  margin-left: auto;  
  text-align: center; 
}

.carousel-title {
  background: black;  
  color: white;
  background-color: black;
  padding: 5px 10px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  
}

.title-background {
  background: black; 
  background-color: black; 
}